@{
    ViewData["Title"] = "Produto Cadastrado";
}

<h2>Produto cadastrado com sucesso!</h2>
<p>O produto foi inserido na base de dados.</p>
<a asp-controller="Produto" asp-action="Index" class="btn btn-success">Cadastrar novo produto</a>

