@{
    ViewData["Title"] = "Imagem Cadastrada";
}

<h2>Imagem cadastrado com sucesso!</h2>
<p>A imagem foi inserido na base de dados.</p>
<a asp-controller="Produto" asp-action="Index" class="btn btn-success">Cadastrar nova imagem</a>